# Environment variables for the app service
APP_SERVER_PORT=8080
APP_SERVER_TIMEOUT=5m
APP_SERVER_BASE_URL=http://localhost:8080
APP_NAME=service-flow-example
LOGGER_LEVEL=debug
# Supported values: text, json, pretty, otel, otel-and-console
LOGGER=otel-and-console
# LOGGER=pretty
VERSION=dev-local
TZ=Europe/Berlin

# Security and quietdown
APP_SERVER_QUIETDOWN_ROUTES="/info/version /info/status /info/openapi.json /info/openapi.html"
APP_SERVER_HIDE_HEADERS=Authorization

# MongoDB (App)
MONGO_URL=mongodb://root:example@mongo:27017/serviceflow?authSource=admin
MONGO_DB=serviceflow
MONGO_USER=root
MONGO_PASSWORD=example

# =====================
# Queues
# =====================
PROTOFLOW_POISON_QUEUE=messages-poison
EVENTS_DEMO_CONSUME_QUEUE=messages
EVENTS_DEMO_PUBLISH_QUEUE=messages-processed
EVENTS_EXAMPLE_CONSUME_QUEUE=example-records
EVENTS_EXAMPLE_PUBLISH_QUEUE=example-records-processed

# Protoflow Web UI / metadata API
PROTOFLOW_WEBUI_ENABLED=true
PROTOFLOW_WEBUI_PORT=8085

# Router CORS
APP_SERVER_CORS_ALLOW_CREDENTIALS=false
APP_SERVER_CORS_HEADERS=*
APP_SERVER_CORS_METHODS=GET,POST,PUT,DELETE,OPTIONS
APP_SERVER_CORS_ORIGINS=*

# =====================
# Otel
# =====================
# Keep LOGGER=otel-and-console to mirror console output while exporting logs.
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
OTEL_LOGS_EXPORTER=otlp
OTEL_EXPORTER_OTLP_LOGS_ENDPOINT="http://openobserve:5081"
OTEL_EXPORTER_OTLP_LOGS_HEADERS="Authorization=Basic cm9vdEBleGFtcGxlLmNvbTpDb21wbGV4cGFzcyMxMjM=,stream-name=service-flow-example,organization=default"

OTEL_TRACES_EXPORTER=otlp
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT="http://openobserve:5081"
OTEL_EXPORTER_OTLP_TRACES_HEADERS="Authorization=Basic cm9vdEBleGFtcGxlLmNvbTpDb21wbGV4cGFzcyMxMjM=,stream-name=service-flow-example,organization=default"

OTEL_METRICS_EXPORTER=otlp
OTEL_METRICS_PRODUCERS=prometheus
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT="http://openobserve:5081"
OTEL_EXPORTER_OTLP_METRICS_HEADERS="Authorization=Basic cm9vdEBleGFtcGxlLmNvbTpDb21wbGV4cGFzcyMxMjM=,stream-name=default,organization=default"
