# Environment variables for the mongo-express service
ME_CONFIG_MONGODB_URL=mongodb://root:example@mongo:27017/
ME_CONFIG_BASICAUTH_ENABLED=false
ME_CONFIG_BASICAUTH_USERNAME=mongoexpressuser
ME_CONFIG_BASICAUTH_PASSWORD=mongoexpresspass
