# Environment variables for the openobserve service
ZO_ROOT_USER_EMAIL=root@example.com
ZO_ROOT_USER_PASSWORD=Complexpass#123
RUST_LOG=error
ZO_LOCAL_MODE=true
ZO_LOCAL_MODE_STORAGE=disk
ZO_SWAGGER_ENABLED=true
ZO_ROOT_USER_TOKEN=Complexpass#123
