services:
  app:
    container_name: event-driven-service-example-app-debug
    extends:
      file: docker-compose.yml
      service: app
    build:
      context: ../..
      dockerfile: infra/build/dockerfiles/Dockerfile.debug
    ports:
      - "8080:8080"
      - "40000:40000"
    security_opt:
      - seccomp:unconfined
    cap_add:
      - SYS_PTRACE
