services:
  app:
    build:
      context: ..
      dockerfile: build/dockerfiles/Dockerfile.debug
    image: event-driven-service-example-app-debug
    container_name: event-driven-service-example-app
    working_dir: /build
    # Expose the application HTTP port alongside the Delve debug port
    ports:
      - "8080:8080"
      - "2345:2345"
    env_file:
      - ../env/app.env
    restart: on-failure
    depends_on:
      mongo:
        condition: service_healthy
    healthcheck:
      test: curl --fail -s localhost:8080/info/status || exit 1
      interval: 30s
      timeout: 10s
      retries: 5
