name: Service CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  GO_VERSION_FILE: src/go.mod

jobs:
  api_assets:
    name: Validate & Generate API Assets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Set up Go
        uses: actions/setup-go@v6.0.0
        with:
          go-version-file: ${{ env.GO_VERSION_FILE }}

      - name: Generate API assets
        uses: ./.github/actions/generate-api-assets

  go_module:
    name: Lint & Build Go Module
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Set up Go
        uses: actions/setup-go@v6.0.0
        with:
          go-version-file: ${{ env.GO_VERSION_FILE }}
          cache: true

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Generate protobuf stubs
        uses: ./.github/actions/generate-protobuf
        with:
          github_token: ${{ github.token }}

      - name: Generate API assets
        uses: ./.github/actions/generate-api-assets

      - name: Download modules
        working-directory: src
        run: go mod download

      - name: Run golangci-lint
        uses: ./.github/actions/run-golangci-lint

      - name: Build Go module
        working-directory: src
        run: go build ./...
